venv/
**/.idea/
*.iml
.gradle/
build/
out/
intellij-settings/
/mkdocs
/public
coverage/
node_modules

.env*
.npmrc
*.pyc
.pytest*

junit.xml
.jest

# don't check in log files!
.*.log
*.log

.DS_Store
nohup.out

*_secrets.y*ml.dec
**/k8s/**/*.k8s.y*ml
pages/mkdocs-dev.yml
/conventionalcommit.coauthors

*.lock
